# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.egg-info
.eggs
*.egg
.venv
venv
ENV

# IDE
.idea
.vscode
*.swp
*.swo

# Database files
*.db
*.sqlite
*.sqlite3

# Build artifacts
build
dist

# Docker
Dockerfile
docker-compose.yml
.dockerignore
